.super-mario {
    width: 200px;
    vertical-align: -400px;
  }
  
  .goomba {
    width: 100px;
    object-position: -20px;
    vertical-align: -20px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
    
  }
  
  .bowser {
    width: 200px;
    vertical-align: -300px;

  }